<!DOCTYPE html>
<html>
    <head> <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}Asthme{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    </head>

    {% if index is defined %}
    <body style="background-image: url('{{ asset('images/2110.png') }}');
            background-size: cover;">
    {% else %}
        <body>
    {% endif %}

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" style="background-color: #D60B52 !important;">
        <a class="navbar-brand" href="app.php" style="background: #D60B52;">Asthmatou</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault" style="background: #D60B52;">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="?asthme">Asthme sévère<!-- <span class="sr-only">(current)</span>--></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="?treatment">Traitements</a>
                </li>


                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Conseils</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="?sport">Activité physique</a>
                        <a class="dropdown-item" href="?dietetique">Diététique</a>
                        <a class="dropdown-item" href="?psychologie">Psychologie</a>
                        <a class="dropdown-item" href="?environnement">Environnement</a>
                        <a class="dropdown-item" href="?vacances">Ou Partir</a>
                    </div>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="?forum">Forums</a>
                </li>
            </ul>
            <ul  class="navbar-nav navbar-right">
                <li class="nav-item dropdown"  style="height: 48px; ">
                    <a href="#" class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{{ asset('images/mail.png') }}" style="height: 50px;"/></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
                        <span class="dropdown-item"> <input type="mail" id="mail_send" /> <a href="#" onclick="maill();" id="mail_sendd">Envoyer</a>
                    </div>
                </li>



                <li class="nav-item">
                    <a href="#" onclick="share_msg();" class="nav-link"><img src="{{ asset('images/facebook.png') }}" style="height: 48px;"/></a>
                </li>




                <script>
                    function maill()
                    {
                        document.getElementById('mail_sendd').href = 'mailto:' + document.getElementById('mail_send').value + '?body=Rendez%20vous%20sur%20http%3A%2F%2Fasthmatou.fr%2F';
                    }



                    window.fbAsyncInit = function() {
                        FB.init({
                            appId            : '135707220424360',
                            autoLogAppEvents : true,
                            xfbml            : true,
                            version          : 'v2.11'
                        });
                    };

                    (function(d, s, id){
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) {return;}
                        js = d.createElement(s); js.id = id;
                        js.src = "https://connect.facebook.net/en_US/sdk.js";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));

                    function share_msg()
                    {
                        FB.ui({
                            method: 'send',
                            link: 'http://asthme.baptiste-mairesse.me/',
                        });
                    }
                </script>



            </ul>

            <!--<form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>-->
        </div>
    </nav>

    <main role="main" class="container" >


        <div class="starter-template" >
            <p><br /><br /></p>
            {% block body %}{% endblock %}
        </div>

    </main><!-- /.container -->


    <script>
        var geo =
            {
                lat: 0,
                long: 0
            };


        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                console.log("ntm");
            }
        }

        function showPosition(position) {
            geo.lat = position.coords.latitude;
            geo.long = position.coords.longitude;
            //console.log(document.getElementById('search_pneumo'));
            //document.getElementById('search_pneumo').href = 'https://www.doctolib.fr/pneumologue/?latitude=' + geo.lat + '&longitude=' + geo.long;
        }

        getLocation();

    </script>


    {% block javascripts %}{% endblock %}
    </body>

    {% if (search and search|length > 0) %}

        <script type="text/javascript">!function(t,e){"use strict";var r=function(t){try{var r=e.head||e.getElementsByTagName("head")[0],a=e.createElement("script");a.setAttribute("type","text/javascript"),a.setAttribute("src",t),r.appendChild(a)}catch(t){}};t.CollectId = "5a0f7e6720b1fbea44b9a688",r("https://s3.amazonaws.com/collectchat/launcher.js")}(window,document);</script>

    {% else %}
        <script type="text/javascript">!function(t,e){"use strict";var r=function(t){try{var r=e.head||e.getElementsByTagName("head")[0],a=e.createElement("script");a.setAttribute("type","text/javascript"),a.setAttribute("src",t),r.appendChild(a)}catch(t){}};t.CollectId = "5a0f7dd820b1fbea44b9a686",r("https://s3.amazonaws.com/collectchat/launcher.js")}(window,document);</script>
    {% endif %}

    <script> var search_keywords = [
            {% if (search) %}
                {% for key,v in search %}
                    {% if (key != 0) %},{% endif %}
                    "{{ v }}"
                {% endfor %}
            {% endif %}
        ];
        </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</html>
